{% extends "base.html" %}

{% block head %} Login {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">Usuário ou senha não confere. Por favor tente novamente</div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
            Sua conta não permite acesso a pagina solicitada.<br>
            Para prosseguir, entre com uma conta que permite o acesso</div>
            {% else %}
            <div class="alert alert-danger" role="alert">Por favor logue-se para entrar na aplicação</div>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <h2 class="form-signin-heading text-center">Login</h2>
            <label for="inputEmail" class="sr-only">Usuário</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Usuário" required autofocus>
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
            
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Entrar"/>
            <input type="hidden" name="next" value="/produto/" />
        </form>
    </div>
</div>

{% endblock %}