{% extends "base.html" %}

{% block head %} Produto Prioritários {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Produtos Prioritários</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <form class="form-inline" action="{% url 'produto:priority' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="ID">ID do Produto: </label>
        <input name="product_id" type="text" class="form-control" id="ID" placeholder="Id do produto">
      </div>
      <input type="submit" class="btn btn-default" value="Marcar" />
    </form>
    {% if message %}
    <p class="text-danger">{{ message }}</p>
    {% endif %}
  </div>
</div>
<hr/>
<div class="row">
  {% if products %}
  <div class="col-md-12">
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>ID</th>
          <th>Produto</th>
          <th>Prioritário</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          {% if product.priority = True %}
          <td>Sim</td>
          {% endif %}
          {% if product.priority = False %}
          <td>Não</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  
  {% endif %}
</div>
<div class="row">
    {% if products %}
    <div class="col-md-6">
      <nav>
        <ul class="pagination">
          {% if products.has_previous %}
          <li>
            <a href="?page={{ products.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          {% for page_range in products.paginator.page_range %}
          <li {% if products.number = page_range %} class="active" {% endif %}>
            <a href="?page={{ page_range }}">{{ page_range}} 
            {% if products.number = page_range %} 
            <span class="sr-only">(current)</span>
            {% endif %}
            </a></li>
          {% endfor %}
          {% if products.has_next %}
          <li>
            <a href="?page={{ products.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
</div>  
{% endblock %}